<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% assign image_files = site.static_files | where_exp: "file",
"file.path contains 'assets/screenshot/'" %}
<script>
    var images = [];
    {% for myimage in image_files %}
      images.push('{{ site.baseurl }}{{ myimage.path }}');
    {% endfor %}
    var i = 0;
    $(".iphoneScreen").attr('src', images[i]);
    setInterval(fadeImg, 5000);
    function fadeImg() {
        i = i < images.length ? i : 0;
        $('.iphoneScreen').fadeOut(1000, function(){
            $(this).attr('src', images[i]).fadeIn(1000);
        })
        i++;
    }
</script>
